/* ================= ABOUT ME ================= */
#about {
  background: #f3f3f3;
  color: #111;
  padding: 80px 20px;
}

#about h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #38bdf8;
  text-align: center;
}

/* Side-by-side layout */
.about-container {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

.about-pic {
  width: 250px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38bdf8;
}

.about-text {
  flex: 1;
  line-height: 1.7;
  font-size: 1.05rem;
}

.about-text p {
  margin-bottom: 15px;
}

@media(max-width:768px){
  .about-container{flex-direction:column;text-align:center;}
  .about-text{width:100%;}
}
